<html>
  <head>
    <title>Homepage</title>
    <script src="/category_script.js" defer></script>
  </head>
  <body>
    <%- include('navbar'); %>
    <form method="POST">
      <label for="nameInput">Название категории:</label>
      <input type="text" value="<%= name || '' %>" name="name" id="nameInput">
      <button type="submit">Сохранить</button>
      <% if (error) { %>
        <p><%= error %></p>
      <% } %>
    </form>
  </body>
</html>
