<nav>
  <ul>
    <li>
      <a href="/positions">
        <span>Должности</span>
      </a>
    </li>
    <li>
      <a href="/roles">
        <span>Роли</span>
      </a>
    </li>
    <li>
      <a href="/categories">
        <span>Категории</span>
      </a>
    </li>
  </ul>
</nav>