<html>
  <head>
    <title>Homepage</title>
    <script src="/scripts.js" defer></script>
  </head>
  <body>   
    <% if (items && items.length > 0) { %>
      <table>
        <thead>
          <tr>
            <% for (const key of Object.keys(items[0])) { %>
              <th><%= key.charAt(0).toUpperCase() + key.slice(1) %></th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% items.forEach((item) => { %>
            <tr>
              <% for (const key of Object.keys(item)) { %>
                <td><%= item[key] %></td>
              <% } %>
              <td>
                <button class="editBtn" data-id="<%= item.id %>">Редактировать</button>
                <button class="deleteBtn" data-id="<%= item.id %>">Удалить</button>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <p class="noData">No items found.</p>
    <% } %>

    <div>
      <button class="createBtn">Создать</button>
    </div>
  </body>
</html>
